body {
  font-family: Verdana, sans-serif;

  padding: 20px;
  margin: 0;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

h1 {
  margin-bottom: 20px;

  transition: 0.1s;

  font-size: 72px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
}

span {
  font:
    30px 'Courier New',
    monospace;
  font-weight: bold;
  color: #ec05b3;
}

button {
  margin-right: 20px;
  padding: 8px 12px;
  cursor: pointer;

  outline: none;
}

button:hover {
  background-color: #e73c7e;
  color: #000000;
}

input {
  padding: 8px;
  margin-right: 20px;
  border: 4px solid #000000;
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  border: 5px solid blueviolet;
  border-radius: 50px;
}

.hilghlight {
  color: purple;
}

.active {
  transform: scale(1.1);
  transition: 0.2s;
}

.todo-container {
  margin-top: 30px;
  padding: 20px;
  border: 3px solid #000000;
  background-color: #ffffff;
}

ul li {
  padding: 5px;

  border-radius: 10px;

  cursor: pointer;
}

ul li:hover {
  background-color: #1808a3;
  color: #ffffff;
}

footer {
  margin-top: 40px;
  font-size: 14px;
  color: #000000;
}

.filters {
  margin-top: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.filters button {
  padding: 10px;

  border: none;
  border-radius: 5px;
  background-color: #23a6d5;

  transition: 0.2s;
}

.filters button:hover {
  background-color: #23d5ab;
  color: #000000;
}

.done {
  transition: 0.2s;

  background-color: #23a6d5;
}

.done span {
  text-decoration: underline;
  color: #000000;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
